.AboutUs{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(7, 50, 85);
}
.Area{
    margin-top: 8rem;
    width: 375px;
    height: 325px;
    background-color:rgb(140, 206, 228);
    padding: 20px;
    border-radius: 10px;
}
.AUMessage{
    font-size: xx-large;
    font-style: italic;
}
.Message{
    font-size: x-large;
}
.Names{
    font-size: large;
}