.Home{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(7, 50, 85);
}
.Area{
    width: 800px;
    height: 200px;
    background-color:rgb(140, 206, 228);
   
}
.HomeLogo{
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: xx-large;
    margin-bottom: 10px;
    color: rgb(45, 40, 40) ;
}
.WelcomeMessage{
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: x-large;
    margin-bottom: 10px;
    color: rgb(45, 40, 40) ;
}
.HElement{
    display: flex;
    color: darkblue;
    text-decoration: underline;
}