.signin{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.outerBox{
    width: 385px;
    height: 460px;
    background-color:aliceblue;
    padding: 20px;
    border-radius: 20px;
    
   
}


/* .innerBox{
    width: 345px;
    height: 420px;
    background-color:rgb(87, 179, 222);
    padding: 10px;
    border-radius: 7px;
} */

.signinText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: rgb(45, 40, 40);
    margin-bottom: 20px;
    margin-top: 15px;
}

.inputs {
    padding: 10px;
}

.inEmail {
    width: 100%;
    height: 50px;
    border-width: 1;
    margin-bottom: 20px;
    border-radius: 10px;
}

.inPassword {
    width: 100%;
    height: 50px;
    border-width: 1;
    margin-bottom: 20px;
    border-radius: 10px;
}

.loginButton{
    width: 95%;
    height: 50px;
    background-color: aliceblue;
    color: black;
    font: bold;
    border-radius: 10px;
    
}

.loginButton:hover{
    background-color: rgb(7, 50, 85);
    color: aliceblue;
    
}
.signupMessage{
    margin-top: 2rem;
    color: rgb(45, 40, 40);
    
}
.signupOption{
    text-decoration-line: underline;
    margin-left: 0.3cm;
    color: aliceblue;
}
.signupOption:hover{
    color:darkblue;
}

.forgotPassword{
    text-decoration-line: underline;
    display: flex;
    color: darkblue;
    
}
.forgotPassword:hover{
    color:aliceblue;
}
