.Signup{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(7, 50, 85);
}

.BoxOut{
    
    width: 400px;
    height: 525px;
    background-color:aliceblue;
    padding: 20px;   
}
.BoxIn{
    width: 360px;
    height: 485px;
    background-color:rgb(87, 179, 222);
    padding: 10px;
}
.SignupLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(45, 40, 40) ;
}
.userInput {
    padding: 15px;
}
.firstName{
    width: 100%;
    height: 40px;
    border-width: 1;
    margin-bottom: 10px;
}

.lastName{
    width: 100%;
    height: 40px;
    border-width: 1;
    margin-bottom: 10px;
}

.email {
    width: 100%;
    height: 40px;
    border-width: 1;
    margin-bottom: 10px;
}

.phonenumber{
    width: 100%;
    height: 40px;
    border-width: 1;
    margin-bottom: 10px;
}

.password {
    width: 100%;
    height: 40px;
    border-width: 1;
    margin-bottom: 10px;
}

.renterpassword{
    width: 100%;
    height: 40px;
    border-width: 1;
    margin-bottom: 20px;
}

.signupButton{
    width: 92%;
    height: 40px;
    background-color: aliceblue;
    color: darkblue;
    font: bold;
       
}

.signupButton:hover{
    background-color: darkblue;
    color: aliceblue;
    
}