.AboutUs{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.Area{
    width: 375px;
    height: 325px;
    background-color:rgb(140, 206, 228);
    padding: 20px;
    border-radius: 20px;
}
.AUMessage{
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    align-items: center;
}
.Message{
    font-size: x-large;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.Names{
    font-size: large;
    align-items: center;
    text-align: center;
}