.PaCalendar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
    margin: 0 auto;
    padding-top: 5vh;
    padding-left: 20vw ;
  }

  .calendar {
    width: 200vw;
    height: 80vh;
    justify-content: flex-end;
  }