.patient {
    display: flex;
  }
  
  .Title {
    font-weight: bold;
    flex: 1;
    padding: 20px;
  }
  
  .Approve{
    font-weight: bold;
    padding-left: 50px;
    display: inline;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 8px;
    background-color: green;
  }
  .Deny{
    font-weight: bold;
    display: inline;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 8px;
    background-color: red;
  }
  .list-item {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .expanded{
    background-color: gray;
  }
  .name-box {
    display: block;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .selected {
    background-color:rgb(140, 206, 228);
  }
  .name-box div {
    display: flex;
    flex: 1;
    margin-right: 10px;
  }
  h1 {
    margin-left: 20px;
  }