.VerificationCode{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.inVC{
    width: 100%;
    height: 50px;
    border-width: 1;
    margin-bottom: 20px;
    border-radius: 10px;
}
.VCmessage{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: rgb(45, 40, 40);
    margin-bottom: 20px;
    margin-top: 15px;
}
.vcprompt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: normal;
    color: rgb(45, 40, 40);
    margin-bottom: 20px;
    margin-top: 15px;
}
.continueButton{
    width: 100%;
  height: 60px;
  background-color: aliceblue;
  color: black;
  font-size: large;
  font: bold;
  border-radius: 10px;
  flex-basis: auto;
}
.outerBox{
    width: 385px;
    height: 460px;
    background-color:aliceblue;
    padding: 20px;
    border-radius: 20px; 
   
}